

##
## Render Filtering and Sorting
##
##above velocity is from mapbook-map-list's query.vm
$core_v2_widget.ExecuteFile('CoriaMapListQuery.vm')

#set ($currentMapBook = $coria_v1_mapbook.Current)
#if ($currentMapBook)
	<div class="navigation-list navigation ui-links" data-minlinks="0" data-maxlinks="0">
		<ul>
			#set ($mapbookTagsUrl = $coria_v1_mapbookUrls.Tags($currentMapBook.Id))
			#if ($mapbookTagsUrl)
				<li class="navigation-list-item">
					<a href="$core_v2_encoding.HtmlAttributeEncode($mapbookTagsUrl)" class="internal-link">
						$core_v2_language.GetResource('tags')
					</a>
				</li>
			#end

			#set($url = false)
			#set($url = $coria_v1_mapbookUrls.About($currentMapBook.Id))
			#if($url)
				<li class="navigation-list-item">
					<a href="$core_v2_encoding.HtmlAttributeEncode($url)" class="internal-link view-user-profile">
						$core_v2_language.GetResource('MapBook_Link_AboutAuthor')
					</a>
				</li>
				#set($hasLinks = true)
			#end

			#set($url = false)
			#set($url = $coria_v1_mapbookUrls.Contact($currentMapBook.Id))
			#if($url)
				<li class="navigation-list-item">
					<a href="$core_v2_encoding.HtmlAttributeEncode($url)" class="internal-link view-contact">
						$core_v2_language.GetResource('MapBook_Link_Contact')
					</a>
				</li>
				#set($hasLinks = true)
			#end

			#if ($core_v2_user.IsRegistered($core_v2_user.Accessing.Id))
				<li class="navigation-list-item">
					<a data-messagename="widget.${core_v2_widget.WrapperElementId}.mapbookSubscribe" data-mapbookid="$currentMapBook.Id" data-subscribed="true" href="#" #if(!$coria_v1_mapbook.IsSubscribed($currentMapBook.Id)) style="display:none" #end>
						$core_v2_language.GetResource('MapBook_Subscribed')
					</a>
				</li>
				<li class="navigation-list-item">
					<a data-messagename="widget.${core_v2_widget.WrapperElementId}.mapbookSubscribe" data-mapbookid="$currentMapBook.Id" data-subscribed="false" href="#" #if($coria_v1_mapbook.IsSubscribed($currentMapBook.Id)) style="display:none" #end>
						$core_v2_language.GetResource('MapBook_Unsubscribed')
					</a>
				</li>
				#registerEndOfPageHtml("widget.${core_v2_widget.WrapperElementId}.mapbookSubscribe")
					<script type="text/javascript">
					jQuery(function(j){
						function update(value, link) {
							j.telligent.evolution.post({
								url: '$core_v2_encoding.JavascriptEncode($core_v2_widget.GetExecutedFileUrl('subscribe.vm'))',
								data: {
									type: 'mapbook',
									subscribe: value,
									mapbookId: link.data('mapbookid')
								},
								dataType: 'json',
								success: function(response) {
									if (response.subscribe) {
										link.closest('ul').find('a[data-subscribed="false"]').hide();
										link.closest('ul').find('a[data-subscribed="true"]').show();
									} else {
										link.closest('ul').find('a[data-subscribed="false"]').show();
										link.closest('ul').find('a[data-subscribed="true"]').hide();
									}

									if (response.warnings && response.warnings.length > 0) {
										j.telligent.evolution.notifications.show(response.warnings[0], { type: 'warning' });
									}
								}
							});
						}
						j.telligent.evolution.messaging.subscribe('widget.${core_v2_widget.WrapperElementId}.mapbookSubscribe', function(data){
							update(!j(data.target).data('subscribed'), j(data.target));
						});
					});
					</script>
				#end
			#else
				<li class="navigation-list-item">
					<a href="#" onclick="jQuery.glowModal('$core_v2_encoding.JavascriptEncode($core_v2_page.AdjustQueryString($core_v2_widget.GetExecutedFileUrl('subscribebyemail.vm'), "MapBookId=$currentMapBook.Id"))', { width: 400, height: 200 }); return false;">
						$core_v2_language.GetResource('Subscribe_ByEmail')
					</a>
				</li>
			#end

			<li class="navigation-list-item">
				<a href="#" data-more>$core_v2_language.GetResource('more')</a>
			</li>
			<li class="navigation-list-item">
				<a href="#" data-cancel>$core_v2_language.GetResource('cancel')</a>
			</li>
		</ul>
	</div>
#end

<div class="sort" id="$core_v2_encoding.HtmlAttributeEncode($core_v2_widget.UniqueId('sort'))">
	<span class="by">
		<select class="ui-select" data-querykey="PostSortBy">
			<option value="MostRecent" #if($mapSortBy == 'MostRecent') selected #end>$core_v2_language.GetResource('MostRecent')</option>
			<option value="MostViewed" #if($mapSortBy == 'MostViewed') selected #end>$core_v2_language.GetResource('MostViews')</option>
			<option value="MostComments" #if($mapSortBy == 'MostComments') selected #end>$core_v2_language.GetResource('MostComments')</option>
		</select>
	</span>
	<span class="order">
		<select class="ui-select" data-querykey="PostSortOrder">
			<option value="Descending" #if ($mapSortOrder == 'Descending') selected #end>$core_v2_language.GetResource('Sort_Descending')</option>
			<option value="Ascending" #if ($mapSortOrder == 'Ascending') selected #end>$core_v2_language.GetResource('Sort_Ascending')</option>
		</select>
	</span>
</div>

#registerEndOfPageHtml()
	<script type="text/javascript">
	jQuery(function(j){
		var sort = j('#$core_v2_encoding.JavascriptEncode($core_v2_widget.UniqueId('sort'))');
		sort.on('change', 'select', function(e) {
			var select = j(this), hashAdjustment = {};
			hashAdjustment[select.data('querykey')] = select.val();
			j.telligent.evolution.url.hashData(hashAdjustment, {
				prefix: '$core_v2_encoding.JavascriptEncode($core_v2_ui.PageIndexQueryStringKey)'
			});
		});
	});
	</script>
#end



##
## Render Posts
##

#if(!$maps)
   #set ($maps = $coria_v1_map.List($core_v2_group.Current.Id, $coria_v1_mapbook.Current.SafeName, $query))
#end
#set($excerptSize = $core_v2_widget.GetIntValue('excerptSize', 250))
#set($displayPostImage = $core_v2_widget.GetBoolValue('displayPostImage', true))

#foreach($map in $maps)
#beforeall
	<ul class="content-list content margin-bottom">
#each
    #set ($mapboook = false)
	#set ($mapbook = $coria_v1_mapbook.Current)##.Get("%{ Id = $map.MapBookId }"))
	#if ($mapbook)

        #set ($mapImage = '')
        #if ($map.PostImageUrl && $map.PostImageUrl != '')
            #set ($mapImage = $map.PostImageUrl)
        #elseif ($mapbook.DefaultPostImageUrl)
            #set ($mapImage = $mapbook.DefaultPostImageUrl)
        #end

        #set ($showthumbnail = false)
        #if ($displayPostImage && $mapImage && $mapImage != '')
            #set ($showthumbnail = true)
        #end

	<li class="content-item">

		<div class="content abbreviated #if($showthumbnail)with-mapimage#end">
		    #if ($showthumbnail)
		    <div class="map-thumbnail">
		        $core_v2_ui.GetResizedImageHtml($mapImage, 100, 100, "%{border='0px', alt=$map.Name, ResizeMethod = 'ZoomAndCrop' }")
		    </div>
		    #end

			<div class="author">
				<div class="avatar">
					#if ($map.Author.ProfileUrl)
						<a href="$core_v2_encoding.HtmlAttributeEncode($map.Author.ProfileUrl)">
							$core_v2_ui.GetResizedImageHtml($map.Author.AvatarUrl, 44, 44, "%{border='0px', alt=$map.Author.DisplayName, ResizeMethod = 'ZoomAndCrop' }")
						</a>
					#else
						$core_v2_ui.GetResizedImageHtml($map.Author.AvatarUrl, 44, 44, "%{border='0px', alt=$map.Author.DisplayName, ResizeMethod = 'ZoomAndCrop' }")
					#end
				</div>
				<span class="user-name">
					#if ($map.Author.ProfileUrl)
						<a href="$core_v2_encoding.HtmlAttributeEncode($map.Author.ProfileUrl)" class="internal-link view-user-profile">
							$map.Author.DisplayName
						</a>
					#else
						$map.Author.DisplayName
					#end
				</span>
			</div>
			<div class="attributes">
				<ul class="attribute-list">
					<li class="attribute-item">
						<span class="attribute-value">$core_v2_language.FormatDate($map.PublishedDate)</span>
					</li>
				</ul>
			</div>
			<h3 class="name">
				#if($mapbook && !$oneMapBook)
					<a class="internal-link view-application" href="$core_v2_encoding.HtmlAttributeEncode($mapbook.Url)">
						$mapbook.Name:
					</a>
				#end
				<a href="$core_v2_encoding.HtmlAttributeEncode($map.Url)">$map.Title</a>
			</h3>
			<div class="content">
				#set ($viewDetail = $core_v2_widget.GetStringValue("viewDetail", "list"))
				#if ($viewDetail == 'list')
					<div class="map-summary">
						#if($map.Excerpt && $map.Excerpt.Length > 0)
							$core_v2_language.Truncate($map.Excerpt, $excerptSize, '...')
						#else
							$core_v2_language.Truncate($map.Body('WebQuote'), $excerptSize, '...')
						#end
					</div>
				#elseif ($viewDetail == 'detail')
					$coria_v1_mapbookPost.IncrementViewCount($map.Id)
					$map.Body()
				#end
			</div>
		</div>

	</li>
	#end
#afterall
	</ul>
#nodata
	<div class="message norecords">$core_v2_language.GetResource('MapBook_NoMaps_Created')</div>
#end

$core_v2_ui.Pager($maps.PageIndex, $maps.PageSize, $maps.TotalCount, "%{ PagedContentFile = 'CoriaMapList.vm', LoadingIndicator = 'true', LoadOnAnyHashChange = 'true' }")
